@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_navigation--linklist--item a {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}
.header_navigation--interactlist--item a {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
}
.header_navigation--interactlist--item--wantthere a {
  background-color: #756157;
  color: #FFFFFF;
}

.welcome {
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.pros_title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
}

.pros_desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
}

.pros_container--reason:nth-child(1) {
  background-color: #82B3D3;
}

.pros_container--reason:nth-child(7) {
  background-color: #82B3D3;
}

.pros_container--reason:nth-child(3) {
  background-color: #83B3D31F;
}

.pros_container--reason:nth-child(5) {
  background-color: #83B3D31F;
}

.pros_container--reason:nth-child(4) {
  background-color: #83B3D333;
}

.pros_container--reason--title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.pros_container--reason--desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
}

.whyus_title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.whyus_desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
}

.whyus_container--content:nth-child(2n-1) {
  background-color: #83B3D31F;
}

.whyus_container--content--title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.whyus_container--content--desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
}

.search_title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search_desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
}

.search_openmodalbutton {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
}

.subscribe {
  background-image: url(../images/background-blurred-mountainous-canyon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe_title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.subscribe_desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}

.subscribe_container--input {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}

.subscribe_container--button {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer_phone {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
