@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  background-color: #f2f2f2;
  padding: 0 40px;
}
a:focus,
button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.visually_hidden {
  display: none;
}

.page_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.header_navigation {
  width: 100%;
  max-width: 1061px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 42px;
}
.header_navigation--logo {
  margin-bottom: -6px;
}
.header_navigation--container {
  width: 100%;
  max-width: 892px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navigation--linklist {
  width: 100%;
  max-width: 308px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}
.header_navigation--linklist--item a {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}
.header_navigation--linklist--item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
  text-decoration-color: #756257;
}
.header_navigation--interactlist {
  width: 100%;
  max-width: 268px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.header_navigation--interactlist--wrapper {
  display: flex;
}
.header_navigation--interactlist--item a {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 22px 12px;
}
.header_navigation--interactlist--item--wantthere a {
  background-color: #756157;
  color: #FFFFFF;
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
}
.header_navigation--interactlist--item--wantthere a:hover {
  background-color: #615048;
}
.header_navigation--interactlist--item--wantthere a:active {
  color: #FFFFFF4D;
}
.header_navigation--interactlist--item--wantthere a:focus {
  color: #FFFFFF4D;
}
.header_navigation--interactlist--item--wantthere a:disabled {
  background-color:#e5e5e5;
}

.header_navigation--interactlist--item--favorite svg:hover {
  fill: #615048;
}
.header_navigation--interactlist--item--favorite svg:focus {
  fill: #756157;
}
.header_navigation--interactlist--item--favorite svg:active {
  fill: #756157;
}

.header_navigation--interactlist--item--search svg:hover {
  fill: #615048;
}
.header_navigation--interactlist--item--search svg:focus {
  fill: #756157;
}
.header_navigation--interactlist--item--search svg:active {
  fill: #756157;
}
.header_navigation--interactlist--item--favorite--quantity {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  border: none;
  outline: none;
  background-color: #7DB54F;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}
.welcome {
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}

.welcome_img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}


.pros_title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
  width: 620px;
  display: block;
  margin: 0 auto;

}

.pros_desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
  margin-top: 25px;
  margin-bottom: 90px;
}
.pros_container {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(3, 385px);
  grid-template-areas:
  "realcity cityimg cityimg"
  "cityarea gorgeousroad notourists"
  "canyon canyon devilsbridge";
}

.pros_container--reason {
  padding: 112px 85px;
}
.pros_container--reason:nth-child(1) {
  background-color: #82B3D3;
  grid-area: realcity;
}
.pros_container--townhall {
  grid-area: cityimg;
}

.pros_container--reason:nth-child(3) {
  background-color: #83B3D31F;
  grid-area: cityarea;
}

.pros_container--reason:nth-child(4) {
  background-color: #83B3D333;
  grid-area: gorgeousroad;
}

.pros_container--reason:nth-child(5) {
  background-color: #83B3D31F;
  grid-area: notourists;
}

.pros_container--img {
  grid-area: canyon;
}
.pros_container--reason:nth-child(7) {
  background-color: #82B3D3;
  grid-area: devilsbridge;
}

.pros_container--reason:nth-child(1) .pros_container--reason--title {
  color: #FFFFFF;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pros_container--reason:nth-child(1) .pros_container--reason--desc {
  color: #FFFFFF;
}

.pros_container--reason:nth-child(7) .pros_container--reason--title {
  color: #FFFFFF;
}

.pros_container--reason:nth-child(7) .pros_container--reason--desc {
  color: #FFFFFF;
}

.pros_container--reason--title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  width: 172px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pros_container--reason--desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;
}

.pros_container--reason--blueishborder {
  display: block;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF4D;
  margin: 0 auto;
}
.pros_container--reason--border {
  display: block;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
  margin: 0 auto;
}
.whyus_title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 505px;
  display: block;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 20px;
}

.whyus_desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
  margin-bottom: 64px;
}

.whyus_container {
  padding-left: 0;
  list-style: none;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.whyus_container--content:nth-child(2n-1) {
  background-color: #83B3D31F;
}
.whyus_container--content{
  padding: 79px 85px;
}

.whyus_container--content:nth-child(1) .whyus_container--content--title::before {
  display: block;
  margin: 0 auto;
  content: "";
  width: 75px;
  height: 72px;
  background-image: url(../images/house.svg);
  margin-bottom: 30px;
}
.whyus_container--content:nth-child(2) .whyus_container--content--title::before  {
  display: block;
  margin: 0 auto;
  content: "";
  width: 75px;
  height: 72px;
  background-image: url(../images/burger.svg);
  margin-bottom: 30px;
}
.whyus_container--content:nth-child(3) .whyus_container--content--title::before {
  display: block;
  margin: 0 auto;
  content: "";
  width: 75px;
  height: 76px;
  background-image: url(../images/gift.svg);
  margin-bottom: 30px;
}
.whyus_container--content:nth-child(1) .whyus_container--content--title {
  width: 180px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.whyus_container--content--title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 0;
}

.whyus_container--content--desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
  width: 230px;
  margin: 0 auto;
}

.search_title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 96px;
  margin-bottom: 20px;
}

.search_desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
  width: 592px;
  display: block;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search_openmodalbutton {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  margin-bottom: 96px;
}
.search_openmodalbutton:hover {
  background-color: #615048;
}
.search_openmodalbutton:focus {
  background-color: #615048;
}
.search_openmodalbutton:active {
  color: #FFFFFF4D;
}
.search_openmodalbutton:disabled {
  background-color: #f2f2f2;
}

.subscribe {
  background-image: url(../images/background-blurred-mountainous-canyon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 0 104px 0;
}

.subscribe_title {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 0;
}

.subscribe_desc {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  width: 475px;
  margin-bottom: 54px;
}
.subscribe_container {
  width: 100%;
  max-width: 685px;
  margin: 0 auto;
  display: flex;
}
.subscribe_container--input {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
  width: 100%;
  max-width: 452px;
  padding: 14px 0 14px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  outline: none;
}

.subscribe_container--button {
  font-family: PT Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  padding: 8px 50px;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.subscribe_container--button:hover {
  background-color: #68A2CA;
}
.subscribe_container--button:focus {
  background-color: #68A2CA;
}
.subscribe_container--button:active {
  color: #FFFFFF4D;
}
.subscribe_container--button:disabled {
  background-color: #e5e5e5;
}
.footer {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 30px;
}
.footer_socials {
  list-style: none;
  width: 100%;
  max-width: 142px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.footer_socials_social--link {
  border: red;
}
.footer_socials--social--link svg:hover,
.footer_socials--social--link svg:focus {
  fill: #68A2CA;
}
.footer_socials--social--link svg:active {
  fill: #68A2CA4D;
}
.footer_phone {
  font-family: PT Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.footer_phone:hover, .footer_phone:focus {
  color: #756157;
}
.footer_phone:active {
  color: #7561574D;
}
.footer_author svg:hover {
  fill: #756157;
}
.footer_author svg:focus {
  fill: #756157;
}
.footer_author svg:active {
  fill: #7561574D;
}

.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 999;
}
.modal_container.active {
  display: block;
  opacity: 1;
}
.modal_container--content {
  background: white;
  padding: 64px 70px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 10% 30%;
}
.modal_container--close {
  padding: 14px 15px;
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  right: 52px;
  top: 64px;
}
.modal_container--content--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
  margin-top: 15px;
}
.modal_container--content--inptitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #757575;
  margin-bottom: 4px;
}
.modal_container--content--input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  border-radius: 4px;
  transition: border-color 0.3s ease, fill 0.3s ease;
}
.modal_container--content--input:hover, .modal_container--content--input:focus-within {
  border-color: #2196F3;
}
.modal_container--content--input:hover svg, .modal_container--content--input:focus-within svg {
  fill: #2196F3;
}
.modal_container--content--input svg {
  margin-left: 13.5px;
  margin-right: 8px;
}
.modal_container--content--input input {
  border: none;
  padding-left: 8px;
  width: 100%;
  height: 40px;
  outline: none;
}
.modal_container--content--input input:focus {
  outline: none;
}
.modal_container--content textarea {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5019607843);
  margin-top: 4px;
  width: 440px;
  height: 139px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
}
.modal_container--content textarea:hover, .modal_container--content textarea:focus {
  outline: 1px solid #2196F3;
}
.modal_container--content--check {
  width: 100%;
  max-width: 425px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.modal_container--content--check--text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
  padding-left: 8px;
}
.modal_container--content--button {
  width: 100%;
  max-width: 200px;
  margin: 30px auto 40px;
}
.modal_container--content--button button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
  padding: 10px 52px;
  cursor: pointer;
  border-radius: 4px;
}
.modal .close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 31px;
  height: 31px;
  font-size: 0;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .close:hover svg path {
  fill: #2196F3;
}
.modal .close svg {
  width: 11px;
  height: 11px;
}
